#navigation {
  margin: 0 ;
  padding: 0 ;
  list-style: 0 ;
}
 
#navigation li {
  float: left ;
  width: 150px ;
  border: 1px solid #600 ;
  margin-right: 1px ;
  color: #fff ;
  background: #c00 ;
}

#navigation li a {
  display: block ;
  background: #900 url(leaf.png) left top no-repeat ;
  color: #fff ;
  font: 1em "Trebuchet MS",Arial,sans-serif ;
  line-height: 1em ;
  padding: 4px 0 ;
  text-align: center ;
} 
#navigation li a:hover, #navigation li a:focus, #navigation li a:active {
  background: #033 url(leaf.png) right top no-repeat ;
}
